<% if current_user.receptionist? %>
  <%= link_to 'Edit', edit_user_path(@model) %>

<h1>Editing patient</h1>

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to "Show this patient", @patient %> |
  <%= link_to "Back to patients", patients_path %>
</div>
<% end %>